.app
	div
		label Title:
		input(name='title', value=d.title || '')
	div
		label First Name:
		input(name='firstname', value=d.firstname || '')
	div
		label Last Name:
		input(name='lastname', value=d.lastname ||'')
	div 
		label Note:
		div
			textarea(name='data', rows='1', cols='50')= d.data
	div
		input(type='submit', value='Save')

